.Result{
	background-color: #858694;
	color:white;
	text-align:right;
	font-weigth:200;
	display:flex;
	justify-content:end;
	align-items:center;
	width:100%;
	height:16.66vh;
	div{
		font-size: 4.5em;
		padding: 0 0.5em;
	}
}